<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>郑州乐驰软件科技</title>
	<!--<link rel="stylesheet" href="css/login.css">-->
	<style>
		 canvas{
		 	color:#fff;
		 }
	</style>
   <!-- <link rel="stylesheet" href="img/yanzheng.png">-->
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <link th:href="@{/img/yanzheng.png}" rel="stylesheet"/>
</head>
<body>
	<div id="login">
        <div>

            <canvas width="280" height="300"></canvas>
        </div>
        <div class="login-form">
            <form action="/lechi/liu">
                <h3>登录</h3>
                <div class="inputs">
	                <div class="input-in"><input type="text" name="name" placeholder="请输入账号"></div>
	                <div class="input-in"><input type="password" name="password" placeholder="请输入密码"></div>
	                <div class="input-yz input-in"><input type="text" placeholder="验证码" class="yanzheng"><img src="../img/yanzheng.png" alt="" width="60" height="25"></div>
	               <!-- <div class="checkbox"><input type="checkbox"><span>记住密码</span></div>-->
                </div>
                <div class="btn"><button>确认登录</button></div>
            </form>
            <p class="contentCenter"><span th:text="${msg}"  style="color:red"></span></p>
        </div>
	</div>
	<p class="footer">郑州乐驰有限公司</p>
<script>
	 var canvas=document.querySelector("canvas");
	 var ctx = canvas.getContext("2d");
     ctx.beginPath();
     ctx.moveTo(50,120);
     ctx.lineTo(50,150);
     ctx.strokeStyle="#fff";
     ctx.stroke();

     ctx.beginPath();
     ctx.moveTo(110,120);
     ctx.lineTo(50,120);
     ctx.strokeStyle="#fff";
     ctx.stroke();

     ctx.beginPath();
     ctx.moveTo(280,190);
     ctx.lineTo(220,190);
     ctx.strokeStyle="#fff";
     ctx.stroke();

     ctx.beginPath();
     ctx.moveTo(280,160);
     ctx.lineTo(280,190);
     ctx.strokeStyle="#fff";
     ctx.stroke();

     ctx.fillStyle="#fff";
     ctx.font="bold 24px MicroSoft YaHei";
     ctx.fillText("乐驰软件科技",80,165);
</script>
</body>
</html>